<section class="page">
  <h1>Gestão de Lotes</h1>

  @if (loading()) {
    <p>Carregando lotes...</p>
  }

  @if (error()) {
    <p class="error">{{ error() }}</p>
  }

  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>

      <mat-select [(ngModel)]="statusSelecionado">
        @for (option of statusOptions; track option.label) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      class="filter-button"
      color="primary"
      type="button"
      (click)="filtrar()">
      Filtrar
    </button>
  </div>
  @if (!loading() && !error()) {
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Operador</th>
        <th>Processo</th>
        <th>Status</th>
        <th>Data de Criação</th>
      </tr>
      </thead>

      <tbody>
        @for (lote of lotes(); track lote.id) {
          <tr
            class="clickable-row"
            (click)="abrirAtualizacaoStatus(lote)">
            <td>{{ lote.id }}</td>
            <td>{{ lote.operador }}</td>
            <td>{{ lote.processo }}</td>
            <td>
              <span
                class="status-badge"
                [class.pendente]="lote.status==='PENDENTE'"
                [class.exportado]="lote.status==='EXPORTADO'"
                [class.rejeitado]="lote.status==='REJEITADO'">

                  {{ lote.status }}

              </span>
            </td>
            <td>{{ lote.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</section>
